<div class="localDropdownTitle">设置</div>

<form class="form" name="settingsForm" ng-submit="settingsForm.$valid && settings.apply()">
  <div class="form-group">
    <div class="localDropdownHeader">
      <div class="localDropdownHeader__label">字体大小</div>
    </div>

    <div>
      <input
        input-focus
        ng-model="settings.vals.fontSize"
        name="fontSize"
        type="number"
        required
        class="form-control"
        data-test-subj="setting-font-size-input"
      >
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="settings.vals.wrapMode"/> 代码长行自动换行
      </label>
    </div>

  </div>

  <div class="form-group">
    <div class="localDropdownHeader">
      <div class="localDropdownHeader__label">自动补全</div>
    </div>

    <div class="checkbox">
      <label>
        <input
          name="autocompleteFields"
          type="checkbox"
          ng-model="settings.vals.autocomplete.fields">
          字段名
        </input>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input
          name="autocompleteIndices"
          type="checkbox"
          ng-model="settings.vals.autocomplete.indices">
          索引名 &amp; 别名
        </input>
      </label>
    </div>

  </div>

  <div class="settings-footer">
    <button
      ng-click="kbnTopNav.close()"
      class="btn btn-default">
      取消
    </button>
    <button
      type="submit"
      ng-disabled="settingsForm.$invalid"
      class="btn btn-primary"
      data-test-subj="settings-save-button">
      保存
    </button>
  </div>
</form>
