<kbn-management-app section="kibana">
  <kbn-management-indices>
    <div ng-controller="managementIndicesCreate" class="kbn-management-indices-create">
      <div class="page-header">
        <h1>配置一个索引</h1>
        为了使用ZDOS，你必须至少配置一个索引。索引是在运行一个搜索和分析之前用来匹配es索引的，他们同时也用来设置字段。
      </div>
      <div>
        <form name="form" role="form" class="well" ng-submit="createIndexPattern()">
          <div class="form-group time-and-pattern">
            <label>
              <input
                ng-model="index.isTimeBased"
                type="checkbox">
              索引包含以时间为基础的事件
            </label>
            <br>
            <label ng-if="index.isTimeBased">
              <input ng-model="index.nameIsPattern" type="checkbox">
              用事件时间去创建索引名称 <small>[不建议]</small>
            </label>
          </div>

          <div class="form-group" ng-if="index.isTimeBased && index.nameIsPattern">
            <div class="alert alert-warning">
              <h4>不建议用时间间隔为基础的索引模式</h4>
              <p>
                我们 <strong>强烈 建议</strong> 用通配符模式做索引名，而不是时间间隔模式。
              </p>
              <p>
                用通配符模式，ZDOS现在足够聪明来自动确定在当前时间范围内哪些索引被用来搜索。
                这意味着，现在通配符索引模式可以得到和时间间隔相同的性能优化。
              </p>
            </div>
            <label>
              索引模式的间隔&nbsp;
              <kbn-info info="索引名称循环的时间间隔"></kbn-info>
            </label>
            <select
              required
              ng-options="opt.display for opt in index.nameIntervalOptions"
              ng-model="index.nameInterval"
              class="form-control">
            </select>
          </div>

          <div class="form-group">
            <label>
              索引的名称或模式
            </label>
            <p class="help-block" ng-if="!index.nameIsPattern">索引模式允许您使用*作为通配符定义动态的索引名称。例如: logstash-*</p>
            <p class="help-block" ng-if="index.isTimeBased && index.nameIsPattern">索引模式允许您定义动态的索引名称。索引名称中的静态文本使用方括号表示。例如：[logstash-]YYYY.MM.DD。请注意，周设置为使用从星期一开始的国际标准周。 &mdash;
              <small><a target="_blank" href="http://momentjs.com/docs/#/displaying/format/">日期格式文档</a></small></p>
            <input
              ng-model="index.name"
              ng-attr-placeholder="{{index.defaultName}}"
              ng-model-options="{ updateOn: 'default blur', debounce: {'default': 2500, 'blur': 0} }"
              validate-index-name
              allow-wildcard
              name="name"
              required
              type="text"
              class="form-control">
              <small ng-show="index.nameInterval.name == 'weeks'">
                <strong>注意： </strong>
                我注意到您正在使用周索引。zdos要求您在您的索引创建时使用国际标准周。
                看 <a href="https://en.wikipedia.org/wiki/ISO_week_date" target="_blank" title="Wikipedia: ISO Week Date">维基百科: 国际标准周</a>
              </small>
            </div>

          <div class="form-group" ng-if="canExpandIndices()">
            <label>
              <input ng-model="index.notExpandable" type="checkbox">
              当搜索查询时不要扩展索引模式。 <small>（不推荐）</small>
            </label>

            <div ng-if="index.notExpandable" class="alert alert-info">
              将直接查询此索引模式，而不是针对单个索引扩展为更高性能的搜索。

              ZDOS将接收针对 <em>{{index.name}}</em> 的查询，并且将不得不搜索所有匹配的索引，而不管他们是否具有与当前时间范围相匹配的数据。

            </div>

            <p class="help-block">
              默认情况下，针对包含通配符的任何基于时间的索引模式的搜索将自动扩展为仅查询包含当前所选时间范围内的数据的索引。
            </p>

            <p class="help-block">
               搜索针对<em>logstash-*</em>的索引模式时，将会查询zdos中属于当前时间范围内的特定匹配的索引(例如: <em>logstash-2015.12.21</em>)。
            </p>
          </div>

          <section>
            <div class="alert alert-danger" ng-repeat="err in index.patternErrors">
              {{err}}
            </div>

            <div class="alert alert-info" ng-if="index.samples">
              尝试匹配以下索引和别名：
              <ul>
                <li ng-repeat="sample in index.samples">{{sample}}</li>
              </ul>
              <button type="button" ng-click="moreSamples(true)" class="btn btn-default">
                扩大搜索
              </button>
            </div>

            <div class="alert alert-{{index.existing.class}}" ng-if="index.existing">
              模式匹配现有索引和别名的{{index.existing.matchPercent}}。 
              <ul>
                <li ng-repeat="match in index.existing.matches | orderBy:'toString()'| limitTo: index.sampleCount">{{match}}</li>
              </ul>
              <button
                ng-if="index.sampleCount < index.existing.matches.length"
                ng-click="moreSamples()"
                type="button"
                class="btn btn-default">
                扩大搜索
              </button>
            </div>

            <div class="alert alert-info" ng-if="index.existing.failures.length">
              找到了以下索引和别名，但是没有和模式相匹配：
              <ul>
                <li ng-repeat="match in index.existing.failures | limitTo: index.sampleCount">{{match}}</li>
              </ul>
              <a
                ng-if="index.sampleCount < index.existing.matches.length"
                ng-click="moreSamples()"
                class="alert-link">
                更多
              </a>
            </div>
          </section>

          <div class="form-group" ng-if="index.isTimeBased && !index.fetchFieldsError">
            <label>
              时间字段名称
              &nbsp;
              <kbn-info info="此字段将用于使用全局时间过滤器来过滤事件。"></kbn-info>
              &nbsp;
              <small>
                <a ng-click="refreshFieldList();"> 刷新字段</a>
              </small>
            </label>
            <select
              required
              ng-if="!index.fetchFieldsError"
              ng-options="field.name for field in index.dateFields"
              ng-model="index.timeField"
              auto-select-if-only-one="index.dateFields"
              class="form-control">
            </select>
          </div>

          <button
            data-test-subj="submitCreateIndexPatternFromExistingForm"
            ng-disabled="form.$invalid || index.fetchFieldsError"
            ng-class="index.fetchFieldsError ? 'btn-default' : 'btn-success'"
            type="submit"
            class="btn">
            <span ng-hide="form.name.$error.indexNameInput">{{index.fetchFieldsError || "创建" }}</span>
            <span ng-show="form.name.$error.indexNameInput">无效的索引名称模式</span>
          </button>
        </form>
      </div>
    </div>
  </kbn-management-indices>
</kbn-management-app>
