<h3>脚本字段</h3>
<p>这些脚本字段是根据你的数据即时计算的。他们可以用于可视化并显示在文档中，但无法搜索。 你可以在这里管理他们，并添加新的你认为合适的。 但是要小心，脚本可是很棘手的。 <!-- 如果您需要一些示例， 为什么不让kibana<a ng-click="addDateScripts()"><strong>在您的日期字段中创建几个示例？</strong></a --></p>

<header>
  <a
    ng-href="{{ kbnUrl.getRouteHref(indexPattern, 'addField') }}"
    class="btn btn-info"
    aria-label="Add Scripted Field">
    <i aria-hidden="true" class="fa fa-plus"></i>
    增加脚本字段
  </a>
</header>

<paginated-table
  columns="columns"
  rows="rows"
  per-page="perPage">
</paginated-table>

<p class="text-center" ng-if="rows.length === 0">没有发现匹配的脚本字段。</p>
