<kbn-management-app section="kibana">
  <kbn-management-objects class="container-fluid">
    <div class="header">
      <h2 class="title">编辑已保存的对象</h2>
      <button class="btn btn-default controls" ng-click="exportAll()"><i aria-hidden="true" class="fa fa-download"></i> 下载</button>
      <file-upload on-read="importAll(fileContents)" upload-selector="button.upload">
        <button class="btn btn-default controls upload" ng-click>
          <i aria-hidden="true" class="fa fa-upload"></i> 上传
        </button>
      </file-upload>
    </div>
    <p>
    从这里，您可以删除已保存的对象，例如已保存的搜索。 您还可以编辑保存对象的原始数据。 通常，对象只能通过其关联的应用程序进行修改，这可能是您应该使用而不是此屏幕。 每个选项卡限制为100个结果。 您可以使用过滤器来查找不在默认列表中的对象。
    </p>
    <form role="form">
      <input aria-label="Filter" ng-model="advancedFilter" class="form-control span12" type="text" placeholder="Filter"/>
    </form>

    <ul class="nav nav-tabs">
      <li class="kbn-management-tab" ng-class="{ active: state.tab === service.title }" ng-repeat="service in services">
        <a title="{{ service.title }}" ng-click="changeTab(service)">{{ service.title }}
          <small>
          ({{service.data.length}}<span ng-show="service.total > service.data.length"> of {{service.total}}</span>)
          </small>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="action-bar">
        <label>
          <input type="checkbox" ng-checked="currentTab.data.length > 0 && selectedItems.length == currentTab.data.length" ng-click="toggleAll()" />
          全选
        </label>
        <a ng-disabled="selectedItems.length == 0"
          confirm-click="bulkDelete()"
          confirmation="你确定要删除所选的 {{currentTab.title}}？这个动作是不可恢复的。"
          class="btn btn-xs btn-danger" aria-label="Delete"><i aria-hidden="true" class="fa fa-trash"></i> 删除</a>
        <a ng-disabled="selectedItems.length == 0"
          ng-click="bulkExport()"
          class="btn btn-xs btn-default" aria-label="Export"><i aria-hidden="true" class="fa fa-download"></i> 下载</a>
      </div>
      <div ng-repeat="service in services" ng-class="{ active: state.tab === service.title }" class="tab-pane">
        <ul class="list-unstyled">
          <li class="item" ng-repeat="item in service.data | orderBy:'title'">
            <div class="actions pull-right">
              <button
                ng-click="edit(service, item)"
                class="btn btn-default"
                aria-label="Edit">
                <span class="sr-only">编辑</span>
                <i aria-hidden="true" class="fa fa-pencil"></i>
              </button>

              <button
                ng-click="open(item)"
                class="btn btn-info"
                aria-label="Hide">
                <span class="sr-only">隐藏</span>
                <i aria-hidden="true" class="fa fa-eye"></i>
              </button>
            </div>

            <div class="pull-left">
              <input
                ng-click="toggleItem(item)"
                ng-checked="selectedItems.indexOf(item) >= 0"
                type="checkbox" >
            </div>

            <div class="item-title">
              <a ng-click="edit(service, item)">{{ item.title }}</a>
            </div>
          </li>
          <li ng-if="!service.data.length" class="empty">没有发现"{{service.title}}"。</li>
        </ul>
      </div>
    </div>

  </kbn-management-objects>
</kbn-management-app>
