<form
  role="form"
  ng-submit="opts.save()"
>
  <div class="localDropdownTitle">保存仪表盘</div>
  <input
    class="localDropdownInput"
    id="dashboardTitle"
    type="text"
    ng-model="opts.dashboard.title"
    placeholder="Dashboard title"
    input-focus="select"
  >
  <div class="form-group">
    <label>
      <input type="checkbox" ng-model="opts.dashboard.timeRestore" ng-checked="opts.dashboard.timeRestore">
      存储时间仪表盘
      <kbn-info info="请在每次加载仪表盘时将时间过滤器更改为当前选定的时间。"></kbn-info>
    </label>
  </div>
  <button type="submit" ng-disabled="!opts.dashboard.title" class="btn btn-primary" aria-label="Save dashboard">保存</button>
</form>
